:root {
  --gray-bg-color: #F8F8F8;
  --dark-gray-bg-color: #13171C;
  --white-color: #FFF;
  --orange: #FF5017;
}

/* #region General rules */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.container {
  max-width: 1840px;
  padding: 0 10px;
  margin: 0 auto;

}

body {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1.3;
}

/* #endregion General rules */
/* #region First screen */
.header {
  background-image: url(../images/header_bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.header__top {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__btn {
  width: 70px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn span {
  width: 100%;
  background-color: var(--orange);
  height: 3px;
}

.header__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 135px);
}

.title {
  font-size: 345px;
  background: linear-gradient(180deg, #000000 0%, #830B02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-left: 150px;
  line-height: .8;
}

.subtitle {
  font-size: 160px;
  align-self: flex-end;
  padding-right: 75px;
  padding-bottom: 50px;
  background: linear-gradient(90deg, var(--orange), #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.header__images {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 100%;
}

/* #endregion First screen */
/* #region Second screen */

.info {
  background-color: #F8F8F8;
  padding: 170px 0;
}

.info__title {
  text-align: center;
  line-height: 0.8;
  font-size: 160px;
  text-transform: uppercase;
}

.info__img {
  max-width: 100%;
  margin: 0 auto;
}

.info__content {
  display: flex;
  justify-content: space-around;
  padding-left: 155px;
  padding-right: 100px;
  margin-bottom: 170px;
  gap: 94px;
}

.info__list {
  column-count: 2;
  gap: 140px;
}

.info__list dt,
.info__list dd {
  display: inline-block;
}

.info__list-line {
  margin-bottom: 22px;
}

.price {
  font-size: 46px;
  margin-bottom: 40px;
}

.order {
  padding: 30px 60px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1.3;
  font-size: 24px;
  background: linear-gradient(181.77deg, #FF5017 2.24%, #FF6837 99.25%);
}

.info__gallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  flex-wrap: wrap;
}

.info__gallery img {
  max-width: 100%;
}

/* #endregion Second screen */

/* #region Third screen */

.color {
  background-color: var(--gray-bg-color);
}

.color__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 160px;
  margin-bottom: 70px;
}

.color__gallery {
  background-color: var(--dark-gray-bg-color);
}

.color__gallery-start,
.color__gallery-end {
  width: 100%;
  margin: 0 auto;
}

.gallery-box {
  padding: 170px 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

.gallery-box img {
  max-width: 100%;
  border-radius: 20px;
}

.gallery-box__text {
  font-size: 36px;
  color: var(--white-color);
  text-transform: uppercase;
}

/* #endregion Third screen */

/* #region Fourth screen */

.contacts {
  padding: 170px 0 100px;
  background-color: var(--dark-gray-bg-color);
}

.contacts__title {
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-size: 36px;
  color: var(--orange);
}

.contacts__box {
  display: flex;
  justify-content: space-between;
  gap: 40px 200px;
  padding-left: 300px;
  padding-right: 150px;
}

.contacts__info {
  max-width: 565px;

}

.contacts__headtext {
  color: #BCBCBC;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contacts__text,
.contacts__text-rules,
.phone {
  color: var(--white-color);
}

.contacts__text {
  padding-top: 10px;
  margin-bottom: 20px;
  max-width: 477px;
}

.contacts__text-rules {
  padding-top: 77px;
  font-size: 14px;
  max-width: 330px;
}

.form {
  flex-basis: 594px;
}

.form__input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  max-width: 594px;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--white-color);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--white-color);
}

.form__input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--white-color);
}

.form__order {
  width: 100%;
}

/* #endregion Fourth screen */

/* #region Footer screen */

.footer {
  text-align: center;
  padding: 15px 0 90px;
  font-size: 14px;
  color: var(--white-color);
  background-color: var(--dark-gray-bg-color);
}

/* #endregion Footer screen */


/* region Media queries */
@media (max-width: 1800px) {
  .info__gallery img {
    max-width: auto;
    width: 48%;
  }
}

@media (max-width: 1600px) {
  .contact-box {
    padding-left: 150px;
  }
  .header__images{
    top: 80px;
  }
}
@media (max-width: 1400px) {
  .title {
    font-size: 278px;
    padding-left: 0;
  }
}

@media (max-width: 1200px) {

  .subtitle {
    font-size: 140px;
    padding-right: 0;
  }

  .header__images {
    top: 180px;
  }

  .info {
    padding: 100px 0;
  }

  .info__title {
    font-size: 86px;
  }

  .info__content {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 100px;
    gap: 20px;
  }

  .price {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .color__text {
    font-size: 80px;
  }

  .gallery-box {
    margin: 50px 0;
    flex-wrap: wrap;
  }

  .gallery-box__item {
    width: 48%;
  }

  .gallery-box img {
    width: 100%;
    border-radius: 30px;
  }

  .contact-box {
    padding-left: 0;
    padding-right: 0;
    gap: 60px;
  }

  .contacts {
    padding: 100px 0;
  }

  .footer {
    padding-bottom: 50px;
  }
  .contacts__box{
padding-left: 100px;
padding-right: 100px;
  }
  .info__gallery img:nth-child(3){
    flex-basis: 100%;
  }
}

@media (max-width: 1040px) {

  .info__gallery img {
    width: 100%;
  }

  .info__list {
    gap: 20px;
    margin-bottom: 50px;
  }
  .title {
    font-size: 229px;
  }
}

@media (max-width: 800px) {
  .header__top {
    padding-top: 25px;
  }
  .header__images {
    top: 234px;
}

  .title {
    font-size: 180px;
  }

  .subtitle {
    font-size: 90px;
  }

  .menu__btn span {
    border: 1px solid #000;
    box-sizing: content-box;
  }

  .info__title {
    font-size: 54px;
  }

  .info__list {
    column-count: 1;
  }

  .info__list-line {
    margin-bottom: 5px;
    font-size: 18px;
  }

  .contacts__box {
    display: block;
  }

  .contacts__text-rules {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .form__order {
    width: auto;
  }
  .contacts__box{
    padding-left: 40px;
    padding-right: 40px;
    gap: 20px 70px;
      }
      .form{
        text-align: center;
      }
}

@media (max-width: 670px) {
  .info__content {
    display: inline;
    text-align: center;
  }

  .color__text {
    font-size: 38px;
  }

  .gallery-box__item {
    width: 100%;
  }
  .subtitle {
    padding-right: 9%;
}
.info__gallery{
  margin-top: 50px;
}
}

@media (max-width: 530px) {
  .title {
    font-size: 122px;
  }

  .subtitle {
    font-size: 70px;
  }

  .info {
    padding: 50px 0;
  }

  .info__title {
    font-size: 44px;
    line-height: 1;
  }

  .contacts__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contacts {
    padding: 50px 0;
  }

  .contacts__headtext,
  .contacts__text,
  .form__input,
  .form__input::placeholder,
  .order {
    font-size: 18px;
  }
  .form__order{
    width: 100%;
  }
}


/* endregion Media queries */